<h1>Homepage</h1>
<a href="/create-article" class="btn-floating btn-large waves-effect waves-light blue darken-4" id="write-article-btn"><i class="material-icons">add</i></a>
<div id="app">
    <p v-if="articlesLoading">Loading...</p>
    <article-box v-for="x in articles" v-bind:article="x" v-bind:key="x.id"></article-box>
</div>

<script>
Vue.component('article-box', {
    props: ['article'],
    template: `
    <div class="article">
    <h2 class="article-name" v-html="article.name"></h2>
    <p class="article-text" v-html="article.description"></p>
    </div>
    `
});
var app = new Vue({
    el: "#app",
    data: {
        articles: [],
        articlesLoading: true
    }
});
var req = new XMLHttpRequest();
req.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        app.articles = JSON.parse(this.responseText);
        app.articlesLoading = false;
    }
}
req.open("GET", "/api/articles", true);
req.send();
</script>